@charset "utf-8";
/* 通用样式 */
*{margin:0px;padding:0px;border:none}
body{font-family:'Microsoft Yahei','SimSun',arial,tahoma,'\5b8b\4f53',sans-serif}
img{border:none}
ul{list-style:none}
a:link{text-decoration:none}

.yth2{width: 100%;height: 60px;line-height: 60px;}
.yth2 .title{font-size: 23px;color: #333;font-weight: 500;}
.yth2 .quoteYt{font-weight: normal; float: right;font-size: 12px;width: 100px;padding-left: 20px;background: url(icon.jpg) no-repeat 0 center;color: #999;height: 13px;line-height: 13px;margin-top: 27px;}
.yth2 .quoteYt a{color: #459df5;}
.yuetangyuanliao{color:#959595;font-size:14px;line-height:20px;margin-top: 7px}

.yuetangTable{width:100%;text-align:center;border-collapse:collapse;border-spacing:0;}
.yuetangTable th, .yuetangTable td {
  padding: 2px 10px;
  font-size: 14px;
  line-height: 24px;
  height: 24px;
  border: 1px solid #e5e5e5;
}
.yuetangTable th.bl, .yuetangTable td.bl{border-right: 1px solid #d5d5d5;}
.yuetangTable th .para, .yuetangTable td .para {
  word-wrap: break-word;
  color: #333;
  line-height: 24px;
  zoom: 1;
  text-indent: 0;
  margin: 0;
  height: auto;
}
.yuetangTable td.fs12{font-size: 12px;} 
.yuetangTable th {
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  font-weight: 700;
  line-height: 34px;
  height: 34px;
  background-color: #f3f9ff;
}
.yuetangTable th .para{line-height: 34px;}



























