#title{
	background-color: blanchedalmond;
}

#context001{
	background-color: cornflowerblue;
}

#context002{
	background-color: darkslateblue;
}

#context003{
	background-color: burlywood;
}

#context04{
	background-color: paleturquoise;
}
